!
vlan 10
 name KJ-MED_USERS
!
vlan 15   
 name KJ-MGMT_WIFI_MGMT
!
vlan 20
 name KJ-MED_WIFI_MGMT
!
vlan 30
 name KJ-MED_PRINTERS
!
vlan 40
 name KJ-MED_SERVERS
!
vlan 50
 name KJ-MGMT_SERVER_NODE_MGMT
!
vlan 51
 name KJ-MGMT_SECURITY_MGMT
!
vlan 52
 name KJ-MGMT_SURVEILLANCE_MGMT
!
vlan 60
 name L2_VMOTION
!
vlan 70
 name KJ-GOV_MERCHANT_SERVERS
!
vlan 71
 name KJ-GOV_MERCHANT_USERS
!
vlan 72
 name KJ-GOV_MERCHANT_PRINTERS
!
vlan 73
 name KJ-GOV_CPOINT_WIFI
!
vlan 85
 name KJ-MED_ISOS_VPN_JUMPBOX
!
vlan 90
 name KJ-MGMT_NETWORK_NODE_MGMT
!
vlan 91
 name KJ-GOV_SCHOOL_SERVER
!
vlan 92
 name KJ-GOV_SCHOOL_STORAGE
!
vlan 93
 name KJ-GOV_SCHOOL_PRINTER
!
vlan 94
 name KJ-GOV_GSES_USERS
!
vlan 95
 name KJ-GOV_KHS_USERS
!
vlan 99
 name L2_CACHEBOX
!
vlan 100
 name KJ-MGMT_NET_ENGINEER
!
vlan 101
 name KJ-MGMT_SYS_ADMIN
!
vlan 102
 name KJ-MGMT_SERVICE_DESK
!
vlan 103
 name KJ-MGMT_IMAGINING_VLAN
!
vlan 110
 name KJ-MGMT_QNAP_MGMT
!
vlan 112
 name KJ-GOV_KWAJ_USERS
!
vlan 124
 name KJ-GOV_SCHOOL-NET_WIFI
!
vlan 128
 name KJ-GOV_CMI-NET_WIFI
!
vlan 132
 name KJ-MGMT_ADMIN-NET_WIFI
!
vlan 133
 name KJ-MGMT_TEST_VLAN
!
vlan 200
 name KJ-VECT_USERS
!
vlan 240
 name KJ-VECT-NET_WIFI
!
vlan 250
 name KJ-VECT_SERVER
!         
vlan 280
 name KJ-VECT_VPN_MGMT
!
vlan 290
 name KJ-VECT_NET_MGMT
!
vlan 300
 name KJ-SUBS_SUB-CONTRACT_USERS
!
vlan 301
 name KJ-TEST_USERS_ii
!
vlan 340
 name KJ-SUBS_SUB-CONTRACT_WIFI
!
vlan 400
 name KJ-WIFI_PUBLIC_WIFI_NET
!
vlan 420
 name KJ-WIFI_PURGATORY_NET
!
vlan 440
 name KJ-WIFI_TDY_NETWORK-MACYS
!
vlan 441
 name KJ-WIFI_TDY_NETWORK-KWAJLODGE
!
vlan 442
 name KJ-WIFI_TDY_NETWORK-NIKE
!
vlan 443
 name KJ-WIFI_TDY_NETWORK-ZEUS
!
vlan 444
 name KJ-WIFI_TDY_NETWORK-SFC
!
vlan 777
 name L2_NATIVE
!
vlan 999
 name L2_PARKING_LOT
 state suspend
 shutdown