!
no logging console
no logging monitor
logging trap warnings
!
!
logging buffered 8192 informational
!
no logging host 192.168.100.20
logging host 192.168.50.20
logging trap informational
logging source-interface Vlan90
service timestamps log datetime msec
service sequence-numbers
!